@import url('https://fonts.googleapis.com/css?family=Righteous');


#navText {
    font-family: 'Righteous', cursive;
    margin: auto;
    color: limegreen;
}


#drop{
    margin: auto;
    text-align: center;
    display: inline
}

