@import url('https://fonts.googleapis.com/css?family=Righteous');

#backSearch{
    background-color: lightblue;
    font-family: 'Righteous', cursive;
    padding: 10vh;
}


#search{
    width: 50vw;
    margin: auto;
}

#btn{
    margin-bottom: 2.5vh;
    width: 40vh;
}
